name: Fuzz

on:
  schedule:
    - cron: '0 8 * * *'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.0-rc1
        stable: false

    - name: Build
      run: bash fuzz.sh
